{% extends "adminbase.html" %}
{% block title %}OLIVIA - Create Event{% endblock %}
{% block body %}Create Event{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Create Event</h1>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.event, class="form-control p-2 border border-dark") }}
  </div>
  <br>
  <input type="submit" value="Next" class="btn btn-primary"/>
</form>
{% endblock %}
