<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='table/css/sb-admin-2.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='table/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
    <script src="{{url_for('static', filename='table/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='table/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


    <script src="{{url_for('static', filename='table/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='table/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>


    <script src="{{url_for('static', filename='table/js/datatables-demo.js')}}"></script>
    {% endblock %}
</body>
</html>
